body {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 3em;
  margin: auto;
  align-items: center;
}
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ededed;
  margin: 0;
}
div {
  margin: 0.2em;
  background-color: #d8d8d8;
  border: 1px solid grey;
}
.a {
  flex-grow: 1;
}
.b {
  flex-grow: 4;
}
.c {
  flex-grow: 1;
}
@media (min-width: 600px) {
  .container {
    flex-flow: row wrap;
  }

  .a {
    width: 100%;
  }
}
